.App {
  text-align: center;
  
}
.game-container{
  display:flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  /* width: 70%; */
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  margin: 10px;
  text-align: center;
  box-shadow: 5px 2px 20px 0 rgb(46 61 73 / 50%);
}

.icon-section{
  margin-right: 20px;
}
.reload-btn{
  padding:0px 20px;
  border-radius: 10px;
  border: 0px;
  background-color: white;
}